/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}

input.input-validation-error, button.input-validation-error, textarea.input-validation-error {
    border: 1px solid #dc3545;
}

.toggle-hide {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

.m-contract-list__address-dopinfo {
    color: #888;
    font-size: 75%;
}

.m-contract-eviction-required-checkbox {
    padding-left: 2.2rem;
}

.m-person-edit-buttons, .m-person-view-buttons, .m-account-edit-buttons, .m-account-view-buttons, .m-org-edit-buttons, .m-org-view-buttons,
.m-apartment-document-view-buttons, .m-apartment-document-edit-buttons {
    margin-top: 28px;
}

.m-tools-dropdown-menu.show {
    display: flex;
}

@media(min-width: 768px) {
    .m-contract-eviction-required-checkbox {
        margin-top: 2.4rem;
        padding-left: 2.2rem;
    }

    .m-person-edit-buttons, .m-person-view-buttons, .m-account-edit-buttons, .m-account-view-buttons, .m-org-edit-buttons, .m-org-view-buttons,
    .m-apartment-document-view-buttons, .m-apartment-document-edit-buttons {
        margin-top: 32px;
    }
}